html {
  background: linear-gradient(to right, #aa076b, #61045f) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  background: rgb(125, 49, 133);
  background: linear-gradient(
    180deg,
    rgba(125, 49, 133, 1) 0%,
    rgba(60, 25, 99, 1) 65%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  margin: 0 10px;
}
.logo1 {
  font-family: "Anton", sans-serif;
  color: rgb(178, 8, 149);
}

.logo2 {
  font-family: "Kanit", sans-serif;
}

.navButtons {
  display: flex;
}

.cartIcon {
  margin: 0 10px;
}
