html {
  background: linear-gradient(to right, #373737, #1a1a1a) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  font-family: "roboto", sans-serif;
}

.navbar {
  background: rgb(125, 49, 133);
  background: linear-gradient(
    180deg,
    rgba(125, 49, 133, 1) 0%,
    rgba(60, 25, 99, 1) 65%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;

}

.logoContainer {
  display: flex;
  margin: 0 10px;
}
.logo1 {
  font-family: "Anton", sans-serif;
  color: rgb(101, 101, 101);
}

.logo2 {
  font-family: "Kanit", sans-serif;
}

.navButtons {
  display: flex;
}

.cartIcon {
  margin: 0 10px;
}

.counterIcon {
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
}

.counterContainer {
  display: flex;
  align-items: center;
  padding: 10px;
  column-gap: 30px;
}

.quantityBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: #d7d4d4;
  width: 89px;
  height: 26px;
  border-radius: 10px;
}

.countNumber {
  padding: 15px;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  column-gap: 50px;
  row-gap: 50px;
  margin: 15px;
}

.itemCard:hover {
  transition: 0.5s;
  transform: scale(1.04);
}

.progressComp {
  justify-content: center;
  padding: 15px;
}

.cardBottom {
  justify-content: space-between;
}

.infoDetails {
  display: flex;
  margin: 20px;
  column-gap: 20px;
}

.descTitle {
  color: #d9d7d7;
}

.descBody {
  color: #9b9999;
}

.descPrice {
  color: #d1d1d1;
}

.itemsCart {
  display: flex;
  align-items: center;
  column-gap: 30px;
  margin: 10px;
}

.cartContainer {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.divTotalPrice {
  background: #b027b05c;
  color: rgb(203, 199, 199);
  border-radius: 10px;
  padding: 0 15px;
}